name: Playwright MSTest

on:
    workflow_dispatch:


jobs:
  test:
    runs-on: windows-latest
    env:
      CI: "true"

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Debug

      - name: Restore Playwright auth state
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path SSO | Out-Null
          $bytes = [Convert]::FromBase64String("${{ secrets.PLAYWRIGHT_AUTHSTATE_B64 }}")
          [IO.File]::WriteAllBytes("SSO\authState.json", $bytes)

      - name: Install Playwright browsers
        shell: pwsh
        run: |
          .\bin\Debug\net8.0\playwright.ps1 install
     
      - name: Test
        run: dotnet test QA.AutomationTests.csproj --configuration Debug --filter FullyQualifiedName=QA.AutomationTests.SmokeTests.SmokeTestStaging --logger "trx;LogFileName=test-results.trx" --results-directory TestResults

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            **/TestResults/*.trx
            **/test-results.trx
